#maincanvas {
    position: absolute;
    z-index: 8;    /* position this canvas at bottom of the other one */
}

#cubecanvas {
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 10;      /* position this canvas on top of the other one */
    opacity: 0.5;
}
